<div class="Loading" *ngIf="visibility" [style.background]="color">
    <div class="inner" [style.max-height]="max_height">
        <div class="center both">
          <div class="spinner-container">
            
            <div class="app-loading">
                    <div class="logo">
                        
                        <svg  viewBox="0 0 878 745" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 61.2 (89653) - https://sketch.com -->
                            <title>Glyph/Dropbox</title>
                            <desc>Created with Sketch.</desc>
                            <g id="Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Glyph" transform="translate(-47.000000, -113.000000)" [style.fill]="logo_color">
                                    <g id="Glyph/Dropbox">
                                        <g id="Group" transform="translate(47.337662, 113.610390)">
                                            <path d="M440.407519,463.909091 L659.909104,603.731922 L440.407519,743.570532 L220.909091,603.731922 L440.407519,463.909091 Z M658.167078,0 L877.659195,139.835455 L659.697,278.691 L877.662351,417.552896 L658.163922,557.391506 L438.829,417.658 L219.498429,557.391506 L0,417.552896 L217.961,278.693 L0,139.835455 L219.501584,0 L438.828,139.73 L658.167078,0 Z M438.828,139.94 L221.032,278.691 L438.829,417.446 L656.626,278.693 L438.828,139.94 Z" id="Combined-Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                            
                          </div>
                    <svg class="spinner" viewBox="25 25 50 50">
                      <defs>
                        <linearGradient
                          x1="80.8521603%"
                          y1="6.39223285%"
                          x2="10.3355871%"
                          y2="85.4736972%"
                          id="linearGradient-1"
                        >
                          <stop stop-color="#70ABF1" offset="0%"></stop>
                          <stop stop-color="#FFAFA2" offset="100%"></stop>
                        </linearGradient>
                      </defs>
                      <circle
                        class="path"
                        cx="50"
                        cy="50"
                        r="24"
                        fill="none"
                        stroke="url(#linearGradient-1)"
                        stroke-width=".5"
                        stroke-miterlimit="10"
                        [attr.stroke]="logo_color"
                      />
                    </svg>
                  </div>
          </div>
    
        
        </div>
      </div>

</div>